*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: sans-serif;
    background: black;
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 2px solid white;
}

.btns-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.btn{
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
}

textarea{
    width: 300px;
    height: 100px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-size: 16px;
}

.output-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    transition: 1s ease;
}

button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
}